/* noto-sans-latin-ext-400-normal */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local("Noto Sans Regular")
    url('~@fontsource/noto-sans/files/noto-sans-latin-ext-400-normal.woff2') format('woff2');
}
/* noto-sans-latin-ext-400-italic */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('~@fontsource/noto-sans/files/noto-sans-latin-ext-400-italic.woff2') format('woff2');
}
/* noto-sans-latin-ext-700-normal */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('~@fontsource/noto-sans/files/noto-sans-latin-ext-700-normal.woff2') format('woff2');
}
/* noto-sans-latin-ext-700-italic */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('~@fontsource/noto-sans/files/noto-sans-latin-ext-700-italic.woff2') format('woff2');
}
/* noto-sans-mono-latin-ext-400-normal */
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('~@fontsource/noto-sans-mono/files/noto-sans-mono-latin-ext-400-normal.woff2') format('woff2');
}
